# deploy eln.community service
# use: "docker compose up -d" to start service
networks:
  eln:
services:
  eln-community:
    image: ghcr.io/deltablot/eln-community:latest
    container_name: eln-community
    security_opt:
        - no-new-privileges:true
    restart: always
    environment:
        - SITE_URL=https://eln.community
        - ORCID_CLIENT_SECRET=
        - ORCID_CLIENT_ID=
        - DATABASE_URL=postgres://eln:eln@postgres:5432/eln?sslmode=disable
        - BUCKET_NAME=
        - REGION=fr-par
        - MAX_FILE_SIZE_MB=100
        - ACCESS_KEY=
        - SECRET_KEY=
    networks:
      - eln

  nginx:
    image: nginx:latest
    container_name: nginx-eln
    restart: always
    ports:
      - "127.0.0.1:8081:8081"
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    networks:
      - eln
