# deploy partage service
# use: "docker compose up -d" to start service
services:
    partage:
        image: ghcr.io/deltablot/eln.community:latest
        container_name: eln.community
        security_opt:
            - no-new-privileges:true
        restart: always
        environment:
            - SITE_URL=https://
            - DEV=1
        expose:
            - 8080
