{{ define "title" }}About{{ end }}

{{ define "content" }}
<h1 class="mt-4 mb-4">Welcome to ELN.community</h1>
<p>This template sharing site is maintained by <a href="https://www.deltablot.com/" target="_blank">Deltablot</a> (home of <a href="https://www.elabftw.net/" target="+blank">eLabFTW</a>) to allow users of electronic laboratory notebooks to easily share experiment and resource templates. Search for templates by category, organization (ROR), or ORCID, and upload your templates to contribute to open science!<br>
All templates are uploaded in <code>.eln</code> file format (CC by 4.0 license) and assigned a persistent identifier with versioning to facilitate citing.
</p>

<p>Please note this is a <b>beta version</b>. It is there to gather feedback on the main needs for such an application.<br>Some features are not yet implemented, but we are working on them.</p>
<p>For issues and features requests, please visit our <a href="https://github.com/deltablot/eln.community/issues" target="_blank">Github</a> page.</p>
{{ end }}
