{{ define "title" }}About{{ end }}

{{ define "content" }}
<h1>About ELN.community</h1>

<p>This is a <b>beta version</b>. All data might be deleted later. It is there to gather feedback on the main needs for such an application.</p>
<p>Some features are not yet implemented, but we are working on them.</p>
<p><b>Known issues</b></p>
<ul>
  <li>Nested data is not displayed correctly.</li>
  <li>Email notifications are not sent yet for comments and moderation.</li>
</ul>

<p><b>Requested features</b></p>
<ul>
  <li>Add a button to report an inappropriate entry.</li>
  <li>Add a star rating system for entries.</li>
  <li>Browse templates by type, such as experiment or resource.</li>
</ul>
{{ end }}
