{{ define "title" }}About{{ end }}

{{ define "content" }}
<h1 class="mt-4 mb-4">Welcome to ELN.community</h1>
<p>This template sharing site is maintained by <a href="https://www.deltablot.com/" target="_blank">Deltablot</a> (home of <a href="https://www.elabftw.net/" target="_blank">eLabFTW</a>) to allow users of electronic laboratory notebooks to easily share experiment and resource templates.<br>
All templates are uploaded in <code>.eln</code> file format (CC by 4.0 license) and assigned a persistent identifier with versioning to facilitate citing.
</p>
Please note that we do not store your email address. To receive notifications, make sure your email address is set to <b>public</b> on <a href="https://orcid.org" target="_blank">orcid.org</a><br><br>

<p>For issues and features requests, please visit our <a href="https://github.com/deltablot/eln.community/issues" target="_blank">Github</a> page.</p>
{{ end }}
