{{ define "content" }}
      <h2>Browse entries</h2>
        {{- if .Records}}
    {{- range .Records}}
      <details style="margin-bottom:1em;">
        <summary><strong>{{ .Name }}</strong></summary>
        <ul>
          <li><a class='btn btn-primary' href='/record/{{ .Id }}'>View</a></li>
          <li><a class='btn btn-secondary' href='/api/v1/records/{{ .Id }}.eln'>Download</a></li>
          <li><strong>SHA256:</strong> {{ .Sha256 }}</li>
          <li><strong>Created at:</strong> {{ .CreatedAt.Format "2006-01-02 15:04:05 MST" }}</li>
          <li><strong>Modified at:</strong> {{ .ModifiedAt.Format "2006-01-02 15:04:05 MST" }}</li>
          <li><strong>Metadata:</strong><pre>{{ .MetadataPretty }}</pre></li>
        </ul>
      </details>
    {{- end}}
  {{- else}}
    <p><em>No records found.</em></p>
  {{- end}}
{{ end }}
